################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/CopyWizard/v16/Browse.VC.opendb
/.vs/CopyWizard/v16
/.vs
/Debug
/resource/player/spear.bmp
/resource/player/iceSpearX2.bmp
/resource/player
/Images/effect/iceBreak.bmp
/Release/zObject.obj
/Release/winMain.obj
/Release/WindowAPI.vcxproj.FileListAbsolute.txt
/Release/WindowAPI.log
/Release/wall.obj
/Release/vc142.pdb
/Release/util.obj
/Release/unit.obj
/Release/uiManager.obj
/Release/timeManager.obj
/Release/summoner.obj
/Release/stdafx.obj
/Release/startScene.obj
/Release/soundManager.obj
/Release/shop.obj
/Release/sceneManager.obj
/Release/random.obj
/Release/progressBar.obj
/Release/portalManager.obj
/Release/playerData.obj
/Release/player.obj
/Release/particleManager.obj
/Release/monster.obj
/Release/mapToolScene.obj
/Release/mainGame.obj
/Release/lobbyScene.obj
/Release/loadingScene.obj
/Release/loading.obj
/Release/knight.obj
/Release/itemManager.obj
/Release/inventory.obj
/Release/input.obj
/Release/iniData.obj
/Release/imageManager.obj
/Release/image.obj
/Release/golem.obj
/Release/ghoulLarge.obj
/Release/ghoul.obj
/Release/gameScene.obj
/Release/gameNode.obj
/Release/GameFramework2D.tlog/link.write.1.tlog
/Release/GameFramework2D.tlog/link.read.1.tlog
/Release/GameFramework2D.tlog/link.command.1.tlog
/Release/GameFramework2D.tlog/GameFramework2D.write.1u.tlog
/Release/GameFramework2D.tlog/GameFramework2D.lastbuildstate
/Release/GameFramework2D.tlog/CL.write.1.tlog
/Release/GameFramework2D.tlog/CL.read.1.tlog
/Release/GameFramework2D.tlog/CL.command.1.tlog
/Release/GameFramework2D.pdb
/Release/GameFramework2D.pch
/Release/GameFramework2D.ipdb
/Release/GameFramework2D.iobj
/Release/GameFramework2D.exe
/Release/finalBossScene.obj
/Release/finalBoss.obj
/Release/enemyManager.obj
/Release/effectManager.obj
/Release/dropManager.obj
/Release/damageManager.obj
/Release/chest.obj
/Release/cameraManager.obj
/Release/bullet.obj
/Release/bossSkill.obj
/Release/bossScene.obj
/Release/bossManager.obj
/Release/boss.obj
