################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/CopyWizard/v16/Browse.VC.opendb
/.vs/CopyWizard/v16
/.vs
/Debug
/resource/player/spear.bmp
/resource/player/iceSpearX2.bmp
/resource/player
/Images/effect/iceBreak.bmp
